:root {
  --primary-color: #BB86FC;
  --background-color: #121212;
  --text-color: #E0E0E0;
  --header-color: #FFFFFF;
  --hover-color: #9E4BDB;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--primary-color);
  color: var(--header-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.App-link {
  color: var(--primary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.initialvalues,
.send {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.initialvalues > div,
.send > input {
  flex: 1;
  margin-right: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  background-color: #1E1E1E;
  color: var(--text-color);
}

.simulate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: var(--header-color);
}

.simulate:hover {
  background-color: var(--hover-color);
}
.action-buttons {
  display: flex;
  flex-direction: column; /* Align buttons in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 20px; /* Add some margin at the top */
}

.simulate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: var(--header-color);
  margin-bottom: 10px; /* Add space between buttons */
}

.simulate:hover {
  background-color: var(--hover-color);
}

.ack {
  background-color: #1E1E1E; /* Background color for the ack box */
  border: 2px solid var(--primary-color); /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 10px 0; /* Margin above and below the box */
  color: var(--header-color); /* Text color */
}

.ack-text {
  color: #BBFFFC; /* Customize text color for ACK */
  font-weight: bold; /* Make the ACK text bold */
}
.packet-numbers {
  color: #BB86FC;
  font-weight: bold;
}

.lost-numbers {
  color: #FF5722;
  font-weight: bold;
}
.small-button {
  font-size: 14px; /* Adjust font size */
  padding: 5px 10px; 
  margin-left: 40px;
}
.start-button {
  background-color: #4CAF50; /* Greenish color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #45a049;
}

.stop-button {
  background-color: #f44336; /* Reddish color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.stop-button:hover {
  background-color: #e53935;
}
